{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": ["eslint:recommended", "prettier"],
  "globals": {
    "defineOptions": "writable",
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "overrides": [
    {
      "files": ["**/*.ts(x)"],
      "parser": "@typescript-eslint/parser",
      "extends": ["eslint-config-airbnb-typescript/base", "prettier"],
      "parserOptions": {
        "project": "./tsconfig.json",
      },
    },
    {
      "files": ["**/*.d.ts"],
      "parser": "@typescript-eslint/parser",
    },
    {
      "files": ["**/*.vue"],
      "parser": "vue-eslint-parser",
      "extends": ["plugin:vue/vue3-recommended", "prettier"],
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "vueFeatures": {
          "filter": true,
          "interpolationAsNonHTML": false,
        },
      },
    },
  ],
}
